spring:
  application:
    name: "accounts"
  profiles:
    active: "prod"
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password: ''
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
      show-sql: true
  h2:
    console:
    enabled: true
  config:
    import: "optional:configserver:http://localhost:8071"

server:
  port: 8080
management:
  endpoints:
    web:
      exposure:
        include: "*"
  info:
    env:
      enabled: true
  endpoint:
    shutdown:
      access: unrestricted

eureka:
  client:
    service-url:
      defaultZone: "http://localhost:8070/eureka/"
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

info:
  app:
    name: "${spring.application.name}"
    description: "Accounts Microservice for NOV Application"
    version: "1.0.0"

